li:nth-child(1) {
    background: yellow;
}

li:nth-child(2) {
    background: green;
}

li:nth-child(4n+4) {
    background: gray;
}

li:last-child {
    background: black;
    color: white;
}

li:nth-last-child(2n) {
    background: blue;
}
li:nth-child(3n):before {
    content: "before";
    color: green;
}
li:nth-child(3n+2):hover {
    background: purple;
    color: white;
}
.text {
    background: yellow;
}
.text:focus{
    background: black;
    color: white;
}
.text:hover{
    background: red;
}






